@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-light: #f5f6f8;
    --background-dark: #101622;
    --primary: #0d59f2;
  }
  
  .bg-background-light {
    background-color: var(--background-light);
  }
  
  .bg-background-dark {
    background-color: var(--background-dark);
  }
  
  .bg-primary {
    background-color: var(--primary);
  }
  
  .text-primary {
    color: var(--primary);
  }
}

@layer components {
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }
}
